<?xml version="1.0"?>

<launch>

    <arg name="robot_name" default="race"/>

    <!-- Bring up Pico MCU -->
    <!-- <include file="$(find race_bringup)/launch/include/pi_pico.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include> -->

  <!-- Bring up PWM driver -->
  <node ns="$(arg robot_name)" name="pwm_driver_node" pkg="pwm_driver" type="pwm_driver_node" output="screen">
      <!-- <rosparam file="$(find pwm_driver)/config/config.yaml" command="load"/> -->
      <rosparam command="load" file="$(find race_station_config)/config/pwm_driver.yaml"/>
  </node>

</launch>
